<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="./css/index-page.css">
</head>

<body>
    <div class="wrapper">
        <div class="main">
            <div class='avatar'>
                <img src='./img/avatar.jpg' alt='Avatar img' />
            </div>
            <h1 class='title'>
                Atom Baytovich
            </h1>
            <div class="menu">
                <p class="years">17 years old</p>
                <div class='desc'>
                    <p>
                        I am a developer on JS (Node.js).
                    </p>
                    <p>
                        I've been doing backend development for about 2 years, doing sports and boxing.
                    </p>
                    <p>
                        I like to travel. I love Siberia.
                    </p>
                </div>
                <p class="contact-list">Contact with me :3</p>
                <div class="socials-buttons">

                    <a class='social-block' href='https://t.me/atombaytovich' target='_self'>
                        <img src='./img/icons/icon_tg.png' alt='TG' />
                        TG
                    </a>

                    <a class='social-block' href='https://vk.com/atombaytovich' target='_self'>
                        <img src='./img/icons/icon_vk.png' alt='VK' />
                        VK
                    </a>

                    <a class='social-block' href='https://t.me/atom_baytovich' target='_self'>
                        <img src='./img/icons/icon_tg.png' alt='TG Channel' />
                        TG Channel
                    </a>

                </div>
                <p class="contact-list">
                    Links :*
                </p>
                <div class="socials-link">
                    <div class='block-link'>
                        <a href='https://github.com/AtomBaytovich'>
                            GitHub (subscribe me)
                        </a>
                    </div>
                    <div class='block-link'>
                        <a href='/config-ngnix'>
                            Generate config Ngnix
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>